<header>
  <div class="container">
    <a href="#" class="logo">Trailblazers</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/list">About</a></li>
        <li><a href="#" routerLink="/cat">Categories</a></li>
        <li><a href="#" routerLink="/list">Accounts</a></li>
        <li><a href="#" routerLink="/list">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<!--<button (click) = "getPosts">Get Posts</button>

<div *ngFor="let post of posts | async">
  {{ post | json}}

</div>-->

<!--<body>
  <div class="cont">
    <nav>
      <ul>
        <li><a href="#">Hrusheekesh</a></li>
        <li><a href="#">Vrushabh</a></li>
        <li><a href="#">Ramesh</a></li>
        <li><a href="#">Colorado</a></li>
      </ul>
    </nav>
  </div>
</body>-->

<div class="container">
<router-outlet></router-outlet>
</div>
