.backg {
    background-color: rgb(251, 255, 196);
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;

}

.element {
    text-decoration: none;
    background-color: rgb(0, 212, 202);
    margin: 1em;
    padding: 1em;
    height: fit-content;
    width: fit-content;
    
    a {
        text-decoration: none;
        color: rgb(197, 32, 128);
        
    }

    
    
}

.name {
    padding: 7px;
    width: fit-content;
    background-color: blanchedalmond;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 20px;


}

li {

    &:hover{
    transform: translateY(-10%) scale(1.1);
    
    background-color: rgb(106, 145, 255);
    transition: 0.4s cubic-bezier(1,-0.91,0,1.21);
    }
}

h1 {
    text-decoration: underline;
    color: rgb(117, 38, 38);
}
