<!--<p>home works!</p>
<h1>Welcome!!</h1>

<div class="play-container">
    <p>You've clicked <span (click)="countClick()">this</span> {{clickCounter}} times.</p>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]= "name">
        <br>
        <strong>You said: </strong>{{ name }}
    </p>
</div>

<div class="play-container" [style.background-color]= "clickCounter > 4 ? 'yellow': 'lightgrey'">
    <ng-template [ngIf]="clickCounter>4" [ngIfElse]="none">
        <p>Counter is <strong>Greater </strong>than 4.</p>
    </ng-template>
    <ng-template #none>
        <p>Counter is <strong>not Greater </strong>than 4.</p>
    </ng-template>
</div>
-->


<div class="image">
    <h1 style="text-align: center;font-family: Montserrat;font-weight:5000;padding-top:50px;">Experience the World of Skills</h1>
    <h3 style="text-align: center;font-family: Montserrat;font-weight:300;margin-top: 50px;">A platform to offer Skills | Services to procure</h3>
    <h4 style="text-align: center;">car</h4>
</div>

<div class="categories">
    <h1 style="text-align: center; font-weight: bolder; font-family: 'Montserrat'; font-weight: 700; font-size: 30px;">Explore Categories</h1>

    <div class="catcon">
        <!--<div class="catin" style="text-align: center;">
            <div class="cattext">sports</div>
        </div>
        <div class="catin">
            <div style="text-align: center;"><p style="text-align: center;">Gamesinviunvieurveri</p></div>
            <h4 style="text-align: center;">wehniviieineininienvenvivnivne</h4>
        </div>
        <div class="catin">Moviesuhuwhciuwciwuhcwcwhuiwweuicwhcwiiuhiuwiuvewivwuivbwiuvbwiuvbwiuvbwivb</div>
        <div class="catin">Art</div>-->

        <ul>
            <li>Sector1</li>
            <li>Sector2</li>
            <li>Sector3</li>
            <li>Sector4</li>
            <li>Sector5</li>
            <li>Sector6</li>
        </ul>
    </div>
</div>

<div class="main">
    <div class="sub">
        <h2>qwerty</h2>
        <p>Hello everyone My name is Hrusheekesh Sawarkar</p>
    </div>
    <div class="sub">
        <h2>qwerty</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, 
            pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. 
            Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex, 
            in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
            per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut 
            vestibulum. Maecenas ipsum lacus, lacinia quis posuere ut, pulvinar vitae dolor.
            Integer eu nibh at nisi ullamcorper sagittis id vel leo. Integer feugiat.</p>
    </div>
    <div class="sub">
        <h2>qwerty</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, 
            pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. 
            Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex, 
            in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
            .</p>
    </div>
    <div class="sub">
        <h2>qwerty</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, 
            pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. 
            Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex, 
            in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
            .</p>
    </div>
    <div class="sub">
        <h2>qwerty</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, 
            pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. 
            Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex, 
            in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
            .</p>
    </div>
    <div class="sub">
        <h2>qwerty</h2>
    </div>
</div>
<div class="parent">
     <div class="child"></div>
 </div>